.widget {
  @include element('label') {
    display: block;
    margin-bottom: 0;
    font-family: $serif_stack;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
    border: 1px solid color('gold','tint');
  }
  @include element('step') {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    margin-right: 1em;
    background-color: color('gold','tint');
  }
  @include element('field'){
    border: 1px solid color('gold', 'tint');
    border-top: 0;
    position: relative;
    padding: 1em;
  }
  .btn-upload {
    position: absolute;
    top: 15px;
    right: 1em;
    background-color: color('gold','tint');
    &:hover {
      background-color: color('gold','base');
    }
  }
}

.image-preview {
  height: 600px;
}