.layout {
	@include element ('col') {
		@include modifier('wide') {
			width: 100%;
			padding: 0;
			float: none;
		}
		@include modifier('header') {
			width: 600px;
			height: auto;
			overflow: hidden;
			margin: 2em auto;
		}
		@include modifier('body') {
			width: 600px;
			margin: 4em auto;
		}
	}
	.carousel-title {
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.1em;
		margin: 0 0 1em 0;
	}
	.jcarousel-controls {
		text-align: center;
		* {
			outline: none;
		}
	}
	.jcarousel-wrapper {
		border: 1px solid color('white','shade');
	}
	.jcarousel  {
		 li {
			padding: 16px;
			height: auto;
			overflow: hidden;
			cursor: pointer;
		}
	}
}