.type
{
	position: relative;

	display: block;
	overflow: hidden;

	width: 190px;
	height: auto;
	margin: 2em auto;

	cursor: pointer;
	text-align: center;

	@include element('body')
	{
		display: inline-block;
	}
	@include element('footer')
	{
		display: inline-block;
	}
	@include element('name')
	{
		text-transform: uppercase;

		color: color('gray');
		&:hover
		{
			text-decoration: none;
			> h2
			{
				color: color('gold');
			}
		}
		> h2
		{
			font-size: 14px;
		}
	}
}
