#loading-bar {
  .bar {
    background: color('gold');
  }
  .peg {
    box-shadow: color('gold') 1px 0 6px 1px;
  }
}

/* Fancy blur effect */

#loading-bar-spinner {
  .spinner-icon {
    border-top-color: color('gold');
    border-left-color: color('gold');
  }
}